<section class="featured">
  <div class="d-flex justify-content-center pt-4 text-uppercase">
    <h1>Shërbimet</h1>
  </div>
  <hr />
</section>
<div class="container-fluid">
  <div class="row mt-4">
    <div class="container">
      <div class="row">
          <div class="tp-box col-md-4" *ngFor="let service of companyServices;let i = index;"
               (mouseover)="toggleFlip(i)" (mouseout)="toggleFlip(i)" [@flipState]="isFlipped(i)">
            <div class="tp-box__side tp-box__front card h-100 shadow-sm">
              <div class="card-body d-flex flex-column">
                <img src="{{service.pictureUrl}}" alt="{{service.pictureUrl}}" class="img-thumbnail imgService">
                <div class="container-fluid">
                  <p class="text-monospace text-uppercase font-weight-bold">{{service.name}}</p>
                  <small class="text-muted text-align-center">{{service.description}}</small>

                </div>
              </div>
            </div>
            <div *ngIf="isFlipped(i)" class="tp-box__side tp-box__back card h-100 shadow-sm">
              <div class="card-body d-flex flex-column">
                <p class="text-monospace text-uppercase font-weight-bold text-center pt-5 pb-5">{{service.name}}</p>
                <p class="text-center paragraph-back">Ne kryejm shume sherbime rreth {{service.name}}, per te pare se cilat sherbime i kryejm klikoni me poshte!</p>
                <div class="d-flex align-items-center justify-content-sm-center  paragraph-back servicesButton">
                  <button mdbBtn type="button" color="warning" outline="true" routerLink="view-service/{{service.id}}" mdbWavesEffect>Më shumë</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <hr />
</div>
