<carousel>
  <slide>
    <img src="assets/images/hero1.jpg" alt="first slide" style="display:block; width:100%" />
  </slide>
  <slide>
    <img src="assets/images/hero2.jpg" alt="first slide" style="display:block; width:100%" />
  </slide>
  <slide>
    <img src="assets/images/hero3.jpg" alt="first slide" style="display:block; width:100%" />
  </slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>Sherbimet</h1>
  </div>
  <hr />
</section>
<div class="container">
  <div class="row mt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card h-100 shadow-sm">
            <div class="card-body d-flex flex-column">
              <img src="..." alt="..." class="img-thumbnail">
              <p class="text-monospace">This is in monospace</p>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100 shadow-sm">
            <div class="card-body d-flex flex-column">
              <img src="..." alt="..." class="img-thumbnail">
              <p class="text-monospace">This is in monospace</p>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100 shadow-sm">
            <div class="card-body d-flex flex-column">
              <img src="..." alt="..." class="img-thumbnail">
              <p class="text-monospace">This is in monospace</p>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4">
          <div class="card h-100 shadow-sm">
            <div class="card-body d-flex flex-column">
              <img src="..." alt="..." class="img-thumbnail">
              <p class="text-monospace">This is in monospace</p>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100 shadow-sm">
            <div class="card-body d-flex flex-column">
              <img src="..." alt="..." class="img-thumbnail">
              <p class="text-monospace">This is in monospace</p>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100 shadow-sm">
            <div class="card-body d-flex flex-column">
              <img src="..." alt="..." class="img-thumbnail">
              <p class="text-monospace">This is in monospace</p>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4">
          <div class="card h-100 shadow-sm">
            <div class="card-body d-flex flex-column">
              <img src="..." alt="..." class="img-thumbnail">
              <p class="text-monospace">This is in monospace</p>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100 shadow-sm">
            <div class="card-body d-flex flex-column">
              <img src="..." alt="..." class="img-thumbnail">
              <p class="text-monospace">This is in monospace</p>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100 shadow-sm">
            <div class="card-body d-flex flex-column">
              <img src="..." alt="..." class="img-thumbnail">
              <p class="text-monospace">This is in monospace</p>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>
