<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>Sherbimet</h1>
  </div>
  <hr />
</section>
<div class="container-fluid">
  <div class="row mt-4">
    <div class="container">
      <div class="row">
          <div class="tp-box col-md-4" *ngFor="let service of companyServices;let i = index;"
               (mouseover)="toggleFlip(i)" (mouseout)="toggleFlip(i)" [@flipState]="isFlipped(i)">
            <div class="tp-box__side tp-box__front card h-100 shadow-sm">
              <div class="card-body d-flex flex-column">
                <img src="{{service.pictureUrl}}" alt="{{service.pictureUrl}}" class="img-thumbnail">
                <p class="text-monospace text-uppercase font-weight-bold">{{service.name}}</p>
                <small class="text-muted">{{service.description}}</small>
              </div>
            </div>
            <div *ngIf="isFlipped(i)" class="tp-box__side tp-box__back card h-100 shadow-sm">
              <div class="card-body d-flex flex-column">
                <img src="{{service.pictureUrl}}" alt="{{service.pictureUrl}}" class="img-thumbnail">
                <p class="text-monospace text-uppercase font-weight-bold">{{service.description}}</p>
                <small class="text-muted">{{service.description}}</small>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <hr />
</div>
