  <section class="featured">
    <div class="d-flex justify-content-center pt-4">
      <h1>{{companyService.name}}</h1>
    </div>
    <hr />
  </section>
  <div class="container-fluid">
    <div class="row mt-4">
      <div class="container">
        <div class="row">
          <p>{{companyService.description}}</p>
        </div>
        <div class="row p-4 mb-4">
          <div class="col-md-4" style="background-color:red; height:500px;" *ngFor="let minService of minService;">
            <h3>{{minService.name}}</h3>
            <div *ngFor="let serviceType of serviceTypesMinService;let i = index" style="list-style:none;" class="bg-info">
              <ul *ngIf="minService.id === serviceType.minServiceId">
                <li >{{serviceType.name}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


