<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1 class="name">{{companyService.name}}</h1>
  </div>
  <hr />
</section>
<div class="container-fluid">
  <div class="row mt-4">
    <div class="container card-group h-100 shadow-sm mb-5 mt-5">
      <div class="row">
        <div class="col-sm-1">
          <img src="{{companyService.pictureUrl}}" class="imgService" />
        </div>
        <div class="col-sm-10">
          <div class="row description">
            <p>{{companyService.description}}</p>
          </div>
        </div>
      </div>
      <div class="row p-4 mb-4 justify-content-center allServiceContent">
        <div class="col-md-4 services" *ngFor="let minService of minService;">
          <h3>{{minService.name}}</h3>
          <div *ngFor="let serviceType of serviceTypesMinService;let i = index" class="serviceTypes">
            <ul *ngIf="minService.id === serviceType.minServiceId">
              <li>{{serviceType.name}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


