// Small devices (landscape phones, 378px and up)
@media (min-width: 375px) {
  .container {
    width: auto;
  }

  .description {
    margin: 20px;
  }

  .services {
    height: auto;
    width: auto;
    margin-right: 10px;
    margin-bottom: 35px
  }

  .serviceTypes {
    list-style: none;
    margin-left: 10%;
  }

  .allServiceContent {
    width: 100%;
  }

  .imgService {
    max-height: 120px;
    margin: 0;
    padding: 0;
    -ms-transform: rotate(20deg);
    transform: rotate(-39deg);
    margin-left: 30%;
  }

  .shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(250,210,0.60,47) !important;
  }

  .name{
      text-align: center;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container {
    width: auto;
  }

  .description {
    margin: 20px;
    margin-top: 30%;
  }

  .services {
    height: auto;
    width: auto;
    margin-right: 10px;
    margin-bottom: 35px
  }

  .serviceTypes {
    list-style: none;
    margin-left: 10%;
  }

  .allServiceContent {
    width: 100%;
  }

  .imgService {
    max-height: 120px;
    margin: 0;
    padding: 0;
    -ms-transform: rotate(20deg);
    transform: rotate(-39deg);
    margin-left: 190px;
  }

  .shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(250,210,0.60,47) !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    width: auto;
  }

  .description {
    margin: 20px;
    margin-left: 7%;
  }

  .services {
    height: auto;
    width: auto;
    margin-right: 10px;
    margin-bottom: 35px
  }

  .serviceTypes {
    list-style: none;
    margin-left: 10%;
  }

  .allServiceContent {
    width: 100%;
  }

  .imgService {
    max-height: 120px;
    margin: 0;
    padding: 0;
    -ms-transform: rotate(20deg);
    transform: rotate(-39deg);
    margin-top: 48%;
  }

  .shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(250,210,0.60,47) !important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    width: auto;
  }

  .description {
    margin: 20px;
  }

  .services {
    height: auto;
    width: auto;
    margin-right: 10px;
    margin-bottom: 35px
  }

  .serviceTypes {
    list-style: none;
    margin-left: 10%;
  }

  .allServiceContent {
    width: 100%;
  }

  .imgService {
    max-height: 120px;
    margin: 0;
    padding: 0;
    -ms-transform: rotate(20deg);
    transform: rotate(-39deg);
  }

  .shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(250,210,0.60,47) !important;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    width: auto;
  }

  .description {
    margin: 20px;
  }

  .services {
    height: auto;
    width: auto;
    margin-right: 10px;
    margin-bottom: 35px
  }

  .serviceTypes {
    list-style: none;
    margin-left: 10%;
  }

  .allServiceContent {
    width: 100%;
  }

  .imgService {
    max-height: 120px;
    margin: 0;
    padding: 0;
    -ms-transform: rotate(20deg);
    transform: rotate(-39deg);
  }

  .shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(250,210,0.60,47) !important;
  }
}
