<section class="featured">
  <div class="d-flex justify-content-center pt-4 text-uppercase">
    <h1>Rreth Kompanise</h1>
  </div>
  <hr />
</section>
<div class="container  card-group h-100 shadow-sm mb-5 mt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 mt-4 pl-5 pb-5">
        <h2 class="text-uppercase">{{company.name}}</h2>
        <h4>per shtepine tuaj...</h4>
        <p>
          Lorem ipsum..Ne e vlerësojmë përkushtimin tuaj për shërbime të shkëlqyera në objektin tonë. Ekuipazhi juaj ka bërë një punë të mrekullueshme
          dhe ne jemi të kënaqur me punën e tyre. Ne do të rekomandojëmë kompaninë tuaj për çdo biznes në kërkim për të marrë shërbime profesionale.
          </p>
        <p>Ne përdorim shërbimet e Duarartit për më shumë se një vit tani dhe nuk mund të themi sa të kënaqur jemi me rezultatet.
          Ne jemi me të vërtetë të impresionuar me punën e Mjeshtrit. Kjo më jep besimin në një kompani që të më kryej shërbime edhe në shtëpinë time.
        </p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-signal logo">2020</span>
      </div>
    </div>
  </div>
</div>


