<section class="featured">
  <div class="d-flex justify-content-center pt-4 text-uppercase">
    <h1>Rreth Kompanise</h1>
  </div>
  <hr />
</section>
<div class="container  card-group h-100 shadow-sm mb-5 mt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 mt-4 pl-5 pb-5">
        <h2 class="text-uppercase">{{company.name}}</h2>
        <h6 class="h6 text-warning">riparime cilësore, çmime të favorshme...</h6>
        <p class="font-italic">
          Duararti përpiqet të ofrojë një angazhim të thellë ndaj shërbimit ndaj klientit, sepse dëshiron të krijojë marrëdhënie afatgjate me klientët e tij.
          Ne ofrojmë mirëmbajtje, riparime dhe përmirësime profesionale, të besueshme për pronat banesore dhe komerciale. Besojuni teknikëve tonë duarartë për të rregulluar me aftësi dhe përvojë.
        </p>
        <p class="font-italic">
          Shërbimet tona plotësojnë boshllëkun midis projekteve të bëra vetë dhe kompanive gjigande të rimodelimit.
        </p>
        <p class="font-italic">Ne e dijmë se çfare presin pronarët e shtëpive nga një kompani e riparimit të shtëpive.</p>
        <h6 class="font-italic">Duararti shkon përtej pritshmërive tuaja...</h6>
        <p>Për çmimet e secilit shërbim veç kontakto në numrin <span class="text-warning">044-378-354</span> (Viber & Whatsapp), në pjesën e kontaktit apo edhe në rrjetet tona sociale, stafi ynë do të kthej përgjigje brenda pak orësh.</p>
      </div>
      <div class="col-sm-4 mt-3">
        <!--<span class="glyphicon glyphicon-signal logo">2020</span>-->
        <img src="/assets/images/testlogo.png" style="max-height: 115px;margin-left: 60%;" alt="companyLogo"/>
      </div>
    </div>
  </div>
</div>


