<carousel>
  <slide>
    <img src="assets/images/hero1.jpg" alt="first slide" style="display:block; width:100%" />
  </slide>
  <slide>
    <img src="assets/images/hero2.jpg" alt="first slide" style="display:block; width:100%" />
  </slide>
  <slide>
    <img src="assets/images/hero3.jpg" alt="first slide" style="display:block; width:100%" />
  </slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
  </div>
  <hr />
</section>
<div class="container  card-group h-100 shadow-sm mb-5 mt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 mt-4 pl-5 pb-5">
        <h2 class="text-uppercase">{{company.name}}</h2>
        <h4>Me afer jush</h4>
        <p>Lorem ipsum..</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-signal logo">2020</span>
      </div>
    </div>
  </div>

  <!--<div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-globe logo"></span>
      </div>
      <div class="col-sm-8 mt-4 mb-5 pl-5 pb-5">
        <h2>Shërbimet tona</h2>
        <h4><strong>MISIONI:</strong> Our mission lorem ipsum..</h4>
        <p><strong>VIZIONI:</strong> Our vision Lorem ipsum..</p>
        iv
      </div>
    </div>
  </div>-->
</div>


