.featured {
  height: 100px;
}

img {
  object-fit: cover;
  height: 600px;
  width: 100%;
}
.img-thumbnail{
    height:300px;
}
.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(250,210,0.60,47) !important;
}
