<section class="featured">
  <div class="d-flex justify-content-center pt-4 text-uppercase">
    <!--<h1>{{company.name}}</h1>-->
  </div>
  <hr />
</section>
<div class="container-fluid">
  <div class="container-fluid card-group h-100 shadow-sm mb-5 mr-5 mr-5 mt-5 p-0">
    <div class="container-fluid row mb-2  mb-5">
      <div class="container-fluid mt-5 mb-5 containerService service">
        <h2 class="text-center text-uppercase">Sherbimet Tona</h2>
        <p class="description text-center" style="font-family:Roboto, sans-serif">
          Me mbi 15 vite ekperience dhe fokus real ne kerkesat e klienteve, ju mund te na besoni neve realizimin e renovimit tuaj,
          <br>poashtu dhe rregullimin e te gjitha pjeseve shtepiake. Ne sigurojme sherbime profesionale per klientet tone.
        </p>
        <ul class="row list-unstyled">
          <li class="col-sm">
            <a title="Interior Renovation">
              <img src="assets/images/image_01.jpg" alt="" style="display: block;">
            </a>
            <h4 class="box-header"><a href="#" title="Interior Renovation">RENOVIME NE INTERIOR</a></h4>
            <p>Ne mund t'ju ndihmojmë të sillni jetë të re në dhomat ekzistuese dhe të zhvilloni hapësira të papërdorura.</p>
          </li>
          <li class="col-sm">
            <a href="#" title="Design and Build">
              <img src="assets/images/image_02.jpg" alt="" style="display: block;" class="img">
            </a>
            <h4 class="box-header"><a href="#" title="Design and Build">SALDIM DHE NDERTIM</a></h4>
            <p>Nga dizajni fillestar dhe specifikimi i projektit për të arritur një perfundim te mrekullueshem.</p>
          </li>
          <li class="col-sm">
            <a href="#" title="Tiling and Painting">
              <img src="assets/images/image_03.jpg" alt="" style="display: block;" class="img">
            </a>
            <h4 class="box-header"><a href="#" title="Tiling and Painting">TJEGULLA DHE NGJYROSJE</a></h4>
            <p>Ne ofrojmë zgjidhje cilësore për tjegulla dhe piktura për ambientet e brendshme dhe të jashtme.</p>
          </li>
        </ul>
        <div class="d-flex align-items-center justify-content-sm-center">
          <button mdbBtn type="button" color="warning" outline="true" routerLink="../services" mdbWavesEffect>Shiko te gjitha</button>
        </div>
      </div>
    </div>
    <div class="container-fluid bg-light">
      <div class="container-fluid mt-5 mb-5 pt-5">
        <h2 class="text-center text-uppercase">Rreth Nesh</h2>
        <p class="description text-center" style="font-family:Roboto, sans-serif">
          Ne sigurojme renovim dhe sherbime profesionale me fokus real ne deshirat e klientit.
          <br>Instalimet tona kryhen nga një staf plotësisht i trajnuar sipas standardeve më të larta profesionale.
        </p>
        <div class=" container-fluid row mt-5">
          <div class="container-fluid row">
            <div class="container-fluid col">
              <div class="container-fluid mb-5 mr-5">
                <img src="assets/images/aboutus.jpg" alt="" class="rounded-circle align-items-center img imgAbout">
              </div>
            </div>
            <div class="container-fluid mt-5 mb-5 containerService">
              <ul class="container-fluid features-list list-unstyled">
                <li>
                  <h4 class="text-uppercase">Me mbi 15 vite eksperience</h4>
                  <p class="aboutus">Ne kombinojmë një punim cilësor, njohuri superiore dhe çmime të ulëta për t'ju ofruar shërbim të pakrahasueshëm nga konkurrentët tanë.</p>
                </li>
                <li>
                  <h4 class="text-uppercase">Materialet me te mira</h4>
                  <p class="aboutus">Ne kemi përvojë, personel dhe burime për ta bërë projektin të sipas planit. Ne mund të sigurojmë që puna do të bëhet në kohë.</p>
                </li>
                <li>
                  <h4 class="text-uppercase">Standarde profesionale</h4>
                  <p class="aboutus">Puna me ne përfshin një seri hapash të planifikuar me kujdes, të përqendruara rreth një orari që i përmbahemi dhe komunikimit të përditshëm.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid bg-warning">
      <div class="container-fluid mt-5 mb-5 pt-5 contentInfo">
        <div class="container-fluid row text-dark d-flex align-items-center justify-content-sm-center">
          <div class="row rowInfo">
            <i class="fa fa-phone" aria-hidden="true" style="font-size:36px"></i>
            <div class="col">
              <ul>
                <li class="list-unstyled">
                  <p class="paraInfo">
                    Telefoni:<br>
                    +383 44 378 354
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="row rowInfo">
            <i class="fas fa-map-marker-alt fa-2x" aria-hidden="true" style="font-size:36px"></i>
            <div class="col">
              <ul>
                <li class="list-unstyled">
                  <p class="paraInfo">
                    Hamdi Grajqevci,<br>
                    Fushe Kosove
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="row rowInfo">
            <i class="fas fa-envelope mt-0 fa-2x" aria-hidden="true" style="font-size:36px"></i>
            <div class="col">
              <ul>
                <li class="list-unstyled">
                  <p class="paraInfo">
                    E-mail:<br>
                    <a>duararti@info.com</a>
                  </p>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container-fluid mb-5 socialButtons">
      <div class="container-fluid mt-5" style="width: 60%;">
        <div class="col mb-5">
          <div class="col p-4 d-flex flex-column position-static socialButtons">
            <strong class="d-inline-block mb-2 text-dark text-uppercase" style="text-align: center;">Rrjetet Sociale</strong>
            <button type="button" mdbBtn color="fb" class="waves-light" mdbWavesEffect><a href="https://www.facebook.com/duararti"><i class="fab fa-facebook-f left"></i>Facebook</a></button>
            <button type="button" mdbBtn color="ins" class="waves-light" mdbWavesEffect><a href="https://www.instagram.com/duar.arti"><i class="fab fa-instagram left"></i>Instagram</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
