<section class="featured">
  <div class="d-flex justify-content-center pt-4 text-uppercase">
    <h1>{{company.name}}</h1>
  </div>
  <hr />
</section>
<div class="container-fluid">
  <div class="container-fluid card-group h-100 shadow-sm mb-5 mr-5 mr-5 mt-5 p-0">
    <!--<div class="container-fluid">-->
    <!--<div class="container-fluid row mb-2 ml-5 mr-5 mb-5 text-center">
      <div class="col-sm-8 mt-4 pl-5 pb-5">
        <h2>Rreth Kompanisë</h2>
        <h4 class="text-uppercase">{{company.name}}</h4>
        <p>{{company.description}}</p>
        <div class="d-flex align-items-center">
          <button mdbBtn type="button" color="warning" outline="true" routerLink="../company" mdbWavesEffect>Lexo më shumë</button>
        </div>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-signal logo"></span>
      </div>
    </div>-->
    <!--<div class="container-fluid row mb-2 ml-5 mr-5 mb-5">
      <div class="col">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Kosove</strong>
            <h1>PRISHTINE</h1>
          </div>
        </div>
      </div>
    </div>-->
    <div class="container-fluid row mb-2  mb-5">
      <div class="container-fluid mt-5 mb-5" style="width: 60%;">
        <h2 class="text-center text-uppercase">Sherbimet Tona</h2>
        <p class="description text-center" style="font-family:Roboto, sans-serif">
          Me mbi 15 vite ekperience dhe fokus real ne kerkesat e klienteve, ju mund te na besoni neve realizimin e renovimit tuaj,
          <br>poashtu dhe rregullimin e te gjitha pjeseve shtepiake. Ne sigurojme sherbime profesionale per klientet tone.
        </p>
        <ul class="row list-unstyled">
          <li class="col-sm">
            <a title="Interior Renovation">
              <img src="assets/images/image_01.jpg" alt="" style="display: block;">
            </a>
            <h4 class="box-header"><a href="?page=service_interior_renovation" title="Interior Renovation">INTERIOR RENOVATION</a></h4>
            <p>We can help you bring new life to existing rooms and develop unused spaces.</p>
          </li>
          <li class="col-sm">
            <a href="?page=service_design_build" title="Design and Build">
              <img src="assets/images/image_02.jpg" alt="" style="display: block;">
            </a>
            <h4 class="box-header"><a href="?page=service_design_build" title="Design and Build">DESIGN AND BUILD</a></h4>
            <p>From initial design and project specification to archieving a high end finish.</p>
          </li>
          <li class="col-sm">
            <a href="?page=service_tiling_painting" title="Tiling and Painting">
              <img src="assets/images/image_03.jpg" alt="" style="display: block;">
            </a>
            <h4 class="box-header"><a href="?page=service_tiling_painting" title="Tiling and Painting">TILING AND PAINTING</a></h4>
            <p>We offer quality tiling and painting solutions for interior and exterior.</p>
          </li>
        </ul>
        <div class="d-flex align-items-center justify-content-sm-center">
          <button mdbBtn type="button" color="warning" outline="true" routerLink="../services" mdbWavesEffect>Shiko te gjitha</button>
        </div>
      </div>
    </div>
    <div class="container-fluid mb-5 bg-light">
      <div class="container-fluid mt-5 mb-5 pt-5" style="width: 60%;">
        <h2 class="text-center text-uppercase">Rreth Nesh</h2>
        <p class="description text-center" style="font-family:Roboto, sans-serif">
          Ne sigurojme renovim dhe sherbime profesionale me fokus real ne deshirat e klientit.
          <br>Instalimet tona kryhen nga një staf plotësisht i trajnuar sipas standardeve më të larta profesionale.
        </p>
        <div class=" container-fluid row mt-5">
          <div class="container-fluid row">
            <div class="container-fluid col">
              <div class="container-fluid mb-5 mr-5">
                <img src="assets/images/aboutus.jpg" alt="" class="rounded-circle align-items-center" style="display: block;">
              </div>
            </div>
            <div class="container-fluid col">
              <ul class="container-fluid features-list list-unstyled">
                <li>
                  <h4 class="text-uppercase">Me mbi 15 vite eksperience</h4>
                  <p>Ne kombinojmë një punim cilësor, njohuri superiore dhe çmime të ulëta për t'ju ofruar shërbim të pakrahasueshëm nga konkurrentët tanë.</p>
                </li>
                <li>
                  <h4 class="text-uppercase">Materialet me te mira</h4>
                  <p>Ne kemi përvojë, personel dhe burime për ta bërë projektin të sipas planit. Ne mund të sigurojmë që puna do të bëhet në kohë.</p>
                </li>
                <li>
                  <h4 class="text-uppercase">Standarde profesionale</h4>
                  <p>Puna me ne përfshin një seri hapash të planifikuar me kujdes, të përqendruara rreth një orari që i përmbahemi dhe komunikimit të përditshëm.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid bg-warning mb-5"> 
      <div class="container-fluid mt-5 mb-5 pt-5" style="width: 60%;">
        <div class="container-fluid row text-white">

          <i class="fa fa-phone" aria-hidden="true" style="font-size:36px"></i>
          <div class="col">
            <ul>
              <li class="list-unstyled">
                <p>
                  Telefoni:<br>
                  044 757 838
                </p>
              </li>
            </ul>
          </div>
          <i class="fa fa-address-card" aria-hidden="true" style="font-size:36px"></i>
          <div class="col">
            <ul>
              <li class="list-unstyled">
                <p>
                  Hamdi Grajqevci,<br>
                  Fushe Kosove
                </p>
              </li>
            </ul>
          </div>
          <i class="fa fa-mail-forward" aria-hidden="true" style="font-size:36px"></i>
          <div class="col">
            <ul>
              <li class="list-unstyled">
                <p>
                  E-mail:<br>
                  <a>duararti@info.com</a>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mb-5">
      <div class="container-fluid mt-5" style="width: 60%;">
        <div class="col mb-5">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-dark text-uppercase">Rrjetet Sociale</strong>
            <button type="button" mdbBtn color="fb" class="waves-light" mdbWavesEffect><i class="fab fa-facebook-f left"></i>Facebook</button>
            <button type="button" mdbBtn color="ins" class="waves-light" mdbWavesEffect><i class="fab fa-instagram left"></i>Instagram</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
