/*@media (max-width: 575.98px) {
  .contactUs {
    padding: 21rem 26rem;
  }
}
@media (max-width: 767.98px) {
  .contactUs {
    padding: 21rem 26rem;
  }
}

@media (max-width: 991.98px) {
  .contactUs {
    padding: 21rem 26rem;
  }
}

@media (max-width: 1199.98px) {
  .contactUs {
    padding: 21rem 26rem;
  }
}*/

