/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  margin: 0.75rem 0;
}
@media (max-width: 483.98px) {
  .homePage {
    //home
    .jumbotron {
      padding: 21rem 42rem;
    }

    .container-fluid {
      padding: 60px 50px;
    }
    //Company
    .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
    }

    .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
    }
    //price
    .panel {
      border: 1px solid #ffc107;
      border-radius: 0;
      transition: box-shadow 0.5s;
    }

    .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    }

    .panel-footer .btn:hover {
      border: 1px solid #ffc107;
      background-color: #fff !important;
      color: #f4511e;
    }

    .panel-heading {
      color: #fff !important;
      background-color: #ffc107 !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    .panel-footer {
      background-color: #fff !important;
    }

    .panel-footer h3 {
      font-size: 32px;
    }

    .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
    }

    .panel-footer .btn {
      margin: 15px 0;
      background-color: #ffc107;
      color: #fff;
    }

    .jumbotron .container {
      margin-left: auto;
      margin-right: auto;
      padding-top: 170px;
    }

  }

  /*CONTACT US SCSS*/
  .contact-us {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    .contactUs {
      padding: 21rem 26rem;
      position: fixed;
    }
  }

  /*Services scss*/
  .tp-box {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    margin-bottom: 50%;
  }

  .tp-box__side {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    cursor: pointer;
    user-select: none;
  }

  .tp-box__front {
    /*background: #f30d36;*/
    /*position:relative;*/
  }

  .tp-box__back {
    /*background: #23262d;*/
    transform: rotateY(179.9deg);
    /*position: relative;*/
  }

}

  @media (max-width: 575.98px) {
    .homePage {
      //home
      .jumbotron {
        padding: 21rem 42rem;
      }

      .container-fluid {
        padding: 60px 50px;
      }
      //Company
      .thumbnail {
        padding: 0 0 15px 0;
        border: none;
        border-radius: 0;
      }

      .thumbnail img {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
      }
      //price
      .panel {
        border: 1px solid #ffc107;
        border-radius: 0;
        transition: box-shadow 0.5s;
      }

      .panel:hover {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
      }

      .panel-footer .btn:hover {
        border: 1px solid #ffc107;
        background-color: #fff !important;
        color: #f4511e;
      }

      .panel-heading {
        color: #fff !important;
        background-color: #ffc107 !important;
        padding: 25px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      .panel-footer {
        background-color: #fff !important;
      }

      .panel-footer h3 {
        font-size: 32px;
      }

      .panel-footer h4 {
        color: #aaa;
        font-size: 14px;
      }

      .panel-footer .btn {
        margin: 15px 0;
        background-color: #ffc107;
        color: #fff;
      }
    }

    /*CONTACT US SCSS*/
    .contact-us {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;

      .contactUs {
        padding: 21rem 26rem;
        position: fixed;
      }
    }

    /*Services scss*/
    .tp-box {
      position: relative;
      transform-style: preserve-3d;
      transition: transform 1s;
      margin-bottom: 50%;
    }

    .tp-box__side {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      cursor: pointer;
      user-select: none;
    }

    .tp-box__front {
      /*background: #f30d36;*/
      /*position:relative;*/
    }

    .tp-box__back {
      /*background: #23262d;*/
      transform: rotateY(179.9deg);
      /*position: relative;*/
    }
  }

  @media (max-width: 767.98px) {
    .homePage {
      //home
      .jumbotron {
        padding: 21rem 42rem;
      }

      .container-fluid {
        padding: 60px 50px;
      }
      //Company
      .thumbnail {
        padding: 0 0 15px 0;
        border: none;
        border-radius: 0;
      }

      .thumbnail img {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
      }
      //price
      .panel {
        border: 1px solid #ffc107;
        border-radius: 0;
        transition: box-shadow 0.5s;
      }

      .panel:hover {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
      }

      .panel-footer .btn:hover {
        border: 1px solid #ffc107;
        background-color: #fff !important;
        color: #f4511e;
      }

      .panel-heading {
        color: #fff !important;
        background-color: #ffc107 !important;
        padding: 25px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      .panel-footer {
        background-color: #fff !important;
      }

      .panel-footer h3 {
        font-size: 32px;
      }

      .panel-footer h4 {
        color: #aaa;
        font-size: 14px;
      }

      .panel-footer .btn {
        margin: 15px 0;
        background-color: #ffc107;
        color: #fff;
      }
    }

    /*CONTACT US SCSS*/
    .contact-us {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;

      .contactUs {
        padding: 21rem 26rem;
      }
    }

    /*Services scss*/
    .tp-box {
      position: relative;
      transform-style: preserve-3d;
      transition: transform 1s;
      margin-bottom: 50%;
    }

    .tp-box__side {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      cursor: pointer;
      user-select: none;
    }

    .tp-box__front {
      /*background: #f30d36;*/
      /*position:relative;*/
    }

    .tp-box__back {
      /*background: #23262d;*/
      transform: rotateY(179.9deg);
      /*position: relative;*/
    }
  }
  /*HOMEPAGE SCSS*/
  @media (max-width: 991.98px) {
    .homePage {
      //home
      .jumbotron {
        padding: 21rem 42rem;
      }

      .container-fluid {
        padding: 60px 50px;
      }
      //Company
      .thumbnail {
        padding: 0 0 15px 0;
        border: none;
        border-radius: 0;
      }

      .thumbnail img {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
      }
      //price
      .panel {
        border: 1px solid #ffc107;
        border-radius: 0;
        transition: box-shadow 0.5s;
      }

      .panel:hover {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
      }

      .panel-footer .btn:hover {
        border: 1px solid #ffc107;
        background-color: #fff !important;
        color: #f4511e;
      }

      .panel-heading {
        color: #fff !important;
        background-color: #ffc107 !important;
        padding: 25px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      .panel-footer {
        background-color: #fff !important;
      }

      .panel-footer h3 {
        font-size: 32px;
      }

      .panel-footer h4 {
        color: #aaa;
        font-size: 14px;
      }

      .panel-footer .btn {
        margin: 15px 0;
        background-color: #ffc107;
        color: #fff;
      }
    }

    /*CONTACT US SCSS*/
    .contact-us {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;

      .contactUs {
        padding: 21rem 26rem;
      }
    }

    /*Services scss*/
    .tp-box {
      position: relative;
      transform-style: preserve-3d;
      transition: transform 1s;
      margin-bottom: 50%;
    }

    .tp-box__side {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      cursor: pointer;
      user-select: none;
    }

    .tp-box__front {
      /*background: #f30d36;*/
      /*position:relative;*/
    }

    .tp-box__back {
      /*background: #23262d;*/
      transform: rotateY(179.9deg);
      /*position: relative;*/
    }
  }

  @media (max-width: 1199.98px) {
    .homePage {
      //home
      .jumbotron {
        padding: 21rem 42rem;
      }

      .container-fluid {
        padding: 60px 50px;
      }
      //Company
      .thumbnail {
        padding: 0 0 15px 0;
        border: none;
        border-radius: 0;
      }

      .thumbnail img {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
      }
      //price
      .panel {
        border: 1px solid #ffc107;
        border-radius: 0;
        transition: box-shadow 0.5s;
      }

      .panel:hover {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
      }

      .panel-footer .btn:hover {
        border: 1px solid #ffc107;
        background-color: #fff !important;
        color: #f4511e;
      }

      .panel-heading {
        color: #fff !important;
        background-color: #ffc107 !important;
        padding: 25px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      .panel-footer {
        background-color: #fff !important;
      }

      .panel-footer h3 {
        font-size: 32px;
      }

      .panel-footer h4 {
        color: #aaa;
        font-size: 14px;
      }

      .panel-footer .btn {
        margin: 15px 0;
        background-color: #ffc107;
        color: #fff;
      }
    }

    /*CONTACT US SCSS*/
    .contact-us {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;

      .contactUs {
        padding: 21rem 26rem;
      }
    }

    /*Services scss*/
    .tp-box {
      position: relative;
      transform-style: preserve-3d;
      transition: transform 1s;
      margin-bottom: 50%;
    }

    .tp-box__side {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      cursor: pointer;
      user-select: none;
    }

    .tp-box__front {
      /*background: #f30d36;*/
      /*position:relative;*/
    }

    .tp-box__back {
      /*background: #23262d;*/
      transform: rotateY(179.9deg);
      /*position: relative;*/
    }
  }

  @media (max-width: 2818.98px) {
    .homePage {
      //home
      .jumbotron {
        padding: 21rem 42rem;
      }

      .container-fluid {
        padding: 60px 50px;
      }
      //Company
      .thumbnail {
        padding: 0 0 15px 0;
        border: none;
        border-radius: 0;
      }

      .thumbnail img {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
      }
      //price
      .panel {
        border: 1px solid #ffc107;
        border-radius: 0;
        transition: box-shadow 0.5s;
      }

      .panel:hover {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
      }

      .panel-footer .btn:hover {
        border: 1px solid #ffc107;
        background-color: #fff !important;
        color: #f4511e;
      }

      .panel-heading {
        color: #fff !important;
        background-color: #ffc107 !important;
        padding: 25px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      .panel-footer {
        background-color: #fff !important;
      }

      .panel-footer h3 {
        font-size: 32px;
      }

      .panel-footer h4 {
        color: #aaa;
        font-size: 14px;
      }

      .panel-footer .btn {
        margin: 15px 0;
        background-color: #ffc107;
        color: #fff;
      }
    }

    /*CONTACT US SCSS*/
    .contact-us {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;

      .contactUs {
        padding: 21rem 26rem;
      }
    }

    /*Services scss*/
    .tp-box {
      position: relative;
      transform-style: preserve-3d;
      transition: transform 1s;
      margin-bottom: 50%;
    }

    .tp-box__side {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      cursor: pointer;
      user-select: none;
    }

    .tp-box__front {
      /*background: #f30d36;*/
      /*position:relative;*/
    }

    .tp-box__back {
      /*background: #23262d;*/
      transform: rotateY(179.9deg);
      /*position: relative;*/
    }
  }
