a {
  text-decoration: none;
  color: #343a40;

  &.active {
    color: #f0ad4e;
  }
}

.logo {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.featured {
  height: 100px;
}

.img {
  object-fit: cover;
  height: 600px auto;
  width: 100%;
}

.img-thumbnail {
  height: 300px;
}

.container{
    width:auto;
}
