<mdb-navbar #navbar SideClass="navbar navbar-expand-lg fixed-top navbar-light bg-white">
  <mdb-navbar-brand>
    <img src="/assets/images/testlogo.png" style="max-height:70px;" alt="logo" class="logo" routerLink="home" />
  </mdb-navbar-brand>
  <links>
    <div class="navbar-nav text-uppercase">
      <a class="nav-item nav-link active waves-light" mdbWavesEffect routerLink="home" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">Duararti<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link waves-light" mdbWavesEffect routerLink="services" routerLinkActive="active">Shërbimet</a>
      <a class="nav-item nav-link waves-light" mdbWavesEffect routerLink="company" routerLinkActive="active">Kompania</a>
      <a class="nav-item nav-link waves-light" mdbWavesEffect routerLink="contact-us" routerLinkActive="active">Kontakti</a>
    </div>
    <div class="d-flex align-items-center navbarButton">
      <button mdbBtn type="button" color="warning" outline="true" rounded="true" routerLink="report-issue" (click)="hideNavbar();" mdbWavesEffect>Raporto Prishjen</button>
    </div>
  </links>
</mdb-navbar>
<carousel>
  <div class="container-fluid slide">
    <!--<slide>
      <img class="img" src="assets/images/slide1.jpg" alt="first slide" style="display:block; min-width:100%;" />
    </slide>
    <slide>
      <img class="img" src="assets/images/slide2.jpg" alt="second slide" style="display:block; min-width:100%" />
    </slide>
    <slide>
      <img class="img" src="assets/images/slide3.jpg" alt="third slide" style="display:block; min-width:100%;" />
    </slide>-->
    <slide>
      <img class="img" src="assets/images/img.jpg" alt="third slide" style="display:block; min-width:100%;" />
    </slide>
    <slide>
      <img class="img" src="assets/images/img2.jpg" alt="third slide" style="display:block; min-width:100%;" />
    </slide>
    <slide>
      <img class="img" src="assets/images/img3.jpg" alt="third slide" style="display:block; min-width:100%;" />
    </slide>
  </div>
</carousel>
